<p>
  <%= form.label :title, I18n.t("title", :scope => 'papermill') %><br />
  <%= form.text_field :title, :class => "text_field" %>
</p>
<p>
  <%= form.label :copyright, I18n.t("copyright", :scope => 'papermill') %><br />
  <%= form.text_field :copyright, :class => "text_field" %>
</p>
<p>
  <%= form.label :description, I18n.t("description", :scope => 'papermill') %><br />
  <%= form.text_area :description %>
</p>
<%= submit_tag I18n.t('save', :scope => 'papermill') %>
