<p>
  <%= form.label :title, t("papermill.title") %><br />
  <%= form.text_field :title, :class => "text_field" %>
</p>
<p>
  <%= form.label :copyright, t("papermill.copyright") %><br />
  <%= form.text_field :copyright, :class => "text_field" %>
</p>
<p>
  <%= form.label :description, t("papermill.description") %><br />
  <%= form.text_area :description %>
</p>
<%= submit_tag t('papermill.save') %>
