<form onsubmit="jQuery.ajax({data:jQuery.param(jQuery(this).serializeArray()), dataType:'script', type:'post', url:'/papermill/<%= @asset.id %>'}); return false;" method="post" class="edit_papermill_asset">
  <input type="hidden" value="put" name="_method"/>
  <div id="error" style="display:none;"></div>
  <% fields_for :papermill_asset, @asset do |form| %>
    <% @asset.papermill_options[:editable_fields].each do |field| %>
    <% key = field.keys.first %>
      <p>
        <%= form.label key, field[key][:label] || t("papermill.#{key}") %><br />
        <% case field[key][:type] 
           when "text" %>
          <%= form.text_area key %>
        <% when "string" %>
          <%= form.text_field key %>
        <% when "boolean" -%>
          <%= form.check_box key %>
        <% else %>
          <%= form.text_field key %>
        <% end -%>
      </p>
    <% end %>
  <% end %>
  <%= submit_tag t('papermill.save') %>
</form>
