<div id="papermill-box">
  <div id="left">
    <% if @asset.image? %>
      <%= link_to image_tag(@asset.url("400x400>")), @asset.url, :popup => true %>
      <%# image_tag(@asset.url("400x400>"), :onDblClick => "popup('#{crop_papermill_path(@asset, :target => "original")}'); return false;", :title => I18n.t("papermill.thumbnail-edit-title", :resource => @asset.name)) %>
      <div style="clear:both;"></div>
    <% else %>
      <%= link_to t("file_type", :type => @asset.content_type, :scope => 'papermill'), @asset.url, :popup => true %>
    <% end -%>
  </div>
  <div id="right">
    <div id="read-only">
      <table border="0">
        <tr><td class="left-cell"><%= t("papermill.name") %>        </td><td><%= @asset.name %></td></tr>
        <tr><td class="left-cell"><%= t("papermill.content_type") %></td><td><%= @asset.content_type %></td></tr>
        <tr><td class="left-cell"><%= t("papermill.size") %>        </td><td><%= number_to_human_size(@asset.size.to_i) %></td></tr>
        <% if @asset.image? %>
          <tr><td class="left-cell"><%= t("papermill.width") %>       </td><td><%= @asset.width.to_i %>px</td></tr>
          <tr><td class="left-cell"><%= t("papermill.height") %>      </td><td><%= @asset.height.to_i %>px</td></tr>
        <% end %>
        <tr><td class="left-cell"><%= t("papermill.created_at") %>  </td><td><%= I18n.l(@asset.created_at) %></td></tr>
        <tr><td class="left-cell"><%= t("papermill.updated_at") %>  </td><td><%= I18n.l(@asset.updated_at) %></td></tr>
      </table>
    </div>
    <div id="read-write">
      <%= render :partial => 'form' %>
    </div>
  </div>
  
  <div style="clear:both;"></div>
  <p id="footer">
    <%= t("papermill.location") +  @asset.file.path %><br />
    <%= t("papermill.url") +  @asset.url %>
  </p>
</div>
